.uds-blockquote.with-image img {
  width: 180px;
  height: 180px;
}

.pictureOriginal {
  width: 120px;
  height: 120px;
  border-radius: 500px;
  margin-top: 1rem; }

.loader {
  text-align: center;
  margin-top: 100px; }

.titleOriginal {
  font-weight: bold; }

.profile-type-standard .pictureOriginal {
  width: 180px;
  height: 180px;
  border-radius: 500px;
  margin-top: 0; }

.profile-name a {
  color: #000;
  text-decoration: none; }

.profile-name {
  margin-top: 24px; }

.profile-row {
  border-bottom: 2px #e0e0e0 solid;
  padding-bottom: 32px;
  padding-top: 32px; }

.profile-bio-column {
  max-width: 700px; }

.profile-contact-row {
  display: flex; }

.profile-contact-row > div {
  margin-right: 32px; }

.profile-row {
  display: flex; }

.profile-photo-column {
  padding: 24px 24px 24px 0; }

.loader {
  text-align: center;
  margin-top: 100px; }

.titleOriginal {
  font-weight: bold; }

.isearch-circle-list {
  /* margin-top:128px; */ }

.x {
  position: absolute;
  background: transparent;
  top: 0px;
  right: 5px;
  float: right !important;
  height: 24px; }

.pictureOriginal {
  width: 120px;
  height: 120px;
  border-radius: 500px;
  margin-top: 1rem; }

.loader {
  text-align: center;
  margin-top: 100px; }

.titleOriginal {
  font-weight: bold; }

/* Modern displayType */
.modernProfile {
  width: 225px;
  height: 225px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  background-color: whitesmoke; }

.modernProfile img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 240px; }

.ch-img-1 {
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  max-width: 180px;
  background-size: cover; }

.modernCol {
  padding: 34px; }

.ch-item {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: default; }

.ch-info-wrap {
  /* position: absolute; */
  width: 180px;
  height: 180px;
  border-radius: 50%;
  perspective: 800px;
  transition: all 0.4s ease-in-out;
  top: 20px;
  left: 20px;
  box-shadow: 0 0 0 20px rgba(241, 241, 241, 0.8), inset 0 0 3px rgba(241, 241, 241, 0.8); }

.ch-info {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d; }

.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.ch-info .ch-info-back {
  transform: rotate3d(0, 1, 0, 180deg);
  background: #000; }

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0 30px;
  padding: 40px 20px 0 0;
  height: 90px;
  font-family: "Open Sans", Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3); }

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.ch-info p a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: "Open Sans", Arial, sans-serif; }

.ch-info p a:hover {
  color: rgba(255, 242, 34, 0.8); }

.ch-item:hover .ch-info-wrap {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8), inset 0 0 3px rgba(115, 114, 23, 0.8); }

.ch-item:hover .ch-info {
  transform: rotate3d(0, 1, 0, -180deg); }

[data-toggle="modal"] {
  cursor: pointer; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNoaWxkLXRoZW1lLnNjc3MiLCJjaGlsZC10aGVtZS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBSUE7RUFDSSxZQUFZO0VBQ1osYUFBYTtFQUNiLG9CQUFvQjtFQUNwQixnQkFBZ0IsRUFBQTs7QUFFbEI7RUFDRSxrQkFBa0I7RUFDbEIsaUJBQWlCLEVBQUE7O0FBR25CO0VBQ0UsaUJBQWlCLEVBQUE7O0FBR25CO0VBQ0UsWUFBWTtFQUNaLGFBQWE7RUFDYixvQkFBb0I7RUFDcEIsYUFBYSxFQUFBOztBQUVmO0VBQ0UsV0FBVztFQUNYLHFCQUFxQixFQUFBOztBQUV2QjtFQUNFLGdCQUFnQixFQUFBOztBQUVsQjtFQUNFLGdDQUFnQztFQUNoQyxvQkFBb0I7RUFDcEIsaUJBQWlCLEVBQUE7O0FBRW5CO0VBQ0UsZ0JBQWdCLEVBQUE7O0FBRWxCO0VBQ0UsYUFBYSxFQUFBOztBQUVmO0VBQ0Usa0JBQWtCLEVBQUE7O0FBR3BCO0VBQ0UsYUFBYSxFQUFBOztBQUVmO0VBQ0UseUJBQXlCLEVBQUE7O0FBRzNCO0VBQ0Usa0JBQWtCO0VBQ2xCLGlCQUFpQixFQUFBOztBQUduQjtFQUNFLGlCQUFpQixFQUFBOztBQUduQjtFQUNFLHNCQUFBLEVBQXVCOztBQUV6QjtFQUNFLGtCQUFrQjtFQUNsQix1QkFBdUI7RUFDdkIsUUFBUTtFQUNSLFVBQVU7RUFDVix1QkFBdUI7RUFDdkIsWUFBWSxFQUFBOztBQUdkO0VBQ0UsWUFBWTtFQUNaLGFBQWE7RUFDYixvQkFBb0I7RUFDcEIsZ0JBQWdCLEVBQUE7O0FBRWxCO0VBQ0Usa0JBQWtCO0VBQ2xCLGlCQUFpQixFQUFBOztBQUVuQjtFQUNFLGlCQUFpQixFQUFBOztBQUduQix1QkFBQTtBQUNBO0VBQ0UsWUFBWTtFQUNaLGFBQWE7RUFDYixpQkFBaUI7RUFDakIsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtFQUNsQixrQkFBa0I7RUFDbEIsNEJBQTRCLEVBQUE7O0FBRzlCO0VBQ0Usa0JBQWtCO0VBQ2xCLFFBQVE7RUFDUixTQUFTO0VBQ1QsZ0NBQWdDO0VBQ2hDLGdCQUFnQixFQUFBOztBQUdsQjtFQUNFOzs7dUNDWG1DO0VEZW5DLGdCQUFnQjtFQUNoQixzQkFBc0IsRUFBQTs7QUFHeEI7RUFDRSxhQUFhLEVBQUE7O0FBR2Y7RUFDRSxXQUFXO0VBQ1gsWUFBWTtFQUNaLGNBQWM7RUFDZCxrQkFBa0I7RUFDbEIsa0JBQWtCO0VBQ2xCLHdDQUF3QztFQUN4QyxlQUFlLEVBQUE7O0FBR2pCO0VBQ0Usd0JBQUE7RUFDQSxZQUFZO0VBQ1osYUFBYTtFQUNiLGtCQUFrQjtFQUNsQixrQkFBa0I7RUFDbEIsZ0NBQWdDO0VBQ2hDLFNBQVM7RUFDVCxVQUFVO0VBQ1YsdUZBQ3dDLEVBQUE7O0FBRzFDO0VBQ0Usa0JBQWtCO0VBQ2xCLFlBQVk7RUFDWixhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLGdDQUFnQztFQUNoQyw0QkFBNEIsRUFBQTs7QUFHOUI7RUFDRSxjQUFjO0VBQ2Qsa0JBQWtCO0VBQ2xCLFdBQVc7RUFDWCxZQUFZO0VBQ1osa0JBQWtCO0VBQ2xCLGtDQUFrQztFQUNsQyxtQ0FBbUM7RUFDM0IsMkJBQTJCLEVBQUE7O0FBR3JDO0VBQ0Usb0NBQW9DO0VBQ3BDLGdCQUFnQixFQUFBOztBQUdsQjtFQUNFLFdBQVc7RUFDWCx5QkFBeUI7RUFDekIsbUJBQW1CO0VBQ25CLGVBQWU7RUFDZixjQUFjO0VBQ2Qsc0JBQXNCO0VBQ3RCLFlBQVk7RUFDWiwyQ0FBMkM7RUFDM0MsdURBQXVELEVBQUE7O0FBR3pEO0VBQ0UsV0FBVztFQUNYLGlCQUFpQjtFQUNqQixrQkFBa0I7RUFDbEIsY0FBYztFQUNkLGVBQWU7RUFDZiw4Q0FBOEMsRUFBQTs7QUFHaEQ7RUFDRSxjQUFjO0VBQ2QsK0JBQStCO0VBQy9CLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIseUJBQXlCO0VBQ3pCLGNBQWM7RUFDZCxtQkFBbUI7RUFDbkIsZ0JBQWdCO0VBQ2hCLDJDQUEyQyxFQUFBOztBQUc3QztFQUNFLDhCQUE4QixFQUFBOztBQUdoQztFQUNFLG1GQUN1QyxFQUFBOztBQUd6QztFQUNFLHFDQUFxQyxFQUFBOztBQzFCekM7RUQ4QkksZUFBZSxFQUFBIiwiZmlsZSI6ImNoaWxkLXRoZW1lLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8vIEZyb20gaHR0cHM6Ly9zZmlzLnFhLnJ0ZC5hc3UuZWR1L3Blb3BsZS9mYWN1bHR5L1xuLy9cbi8vIHdpbGwgaG9wZWZ1bGx5IGJlIG1lcmdlZCBpbnRvIHVwc3RyZWFtIGFuZCB0aGVuIGNhbiBiZSByZW1vdmVkIGZyb20gaGVyZVxuXG4ucGljdHVyZU9yaWdpbmFsIHtcbiAgICB3aWR0aDogMTIwcHg7XG4gICAgaGVpZ2h0OiAxMjBweDtcbiAgICBib3JkZXItcmFkaXVzOiA1MDBweDtcbiAgICBtYXJnaW4tdG9wOiAxcmVtO1xuICB9XG4gIC5sb2FkZXIge1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBtYXJnaW4tdG9wOiAxMDBweDtcbiAgfVxuICBcbiAgLnRpdGxlT3JpZ2luYWwge1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICB9XG4gIFxuICAucHJvZmlsZS10eXBlLXN0YW5kYXJkIC5waWN0dXJlT3JpZ2luYWwge1xuICAgIHdpZHRoOiAxODBweDtcbiAgICBoZWlnaHQ6IDE4MHB4O1xuICAgIGJvcmRlci1yYWRpdXM6IDUwMHB4O1xuICAgIG1hcmdpbi10b3A6IDA7XG4gIH1cbiAgLnByb2ZpbGUtbmFtZSBhIHtcbiAgICBjb2xvcjogIzAwMDtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIH1cbiAgLnByb2ZpbGUtbmFtZSB7XG4gICAgbWFyZ2luLXRvcDogMjRweDtcbiAgfVxuICAucHJvZmlsZS1yb3cge1xuICAgIGJvcmRlci1ib3R0b206IDJweCAjZTBlMGUwIHNvbGlkO1xuICAgIHBhZGRpbmctYm90dG9tOiAzMnB4O1xuICAgIHBhZGRpbmctdG9wOiAzMnB4O1xuICB9XG4gIC5wcm9maWxlLWJpby1jb2x1bW4ge1xuICAgIG1heC13aWR0aDogNzAwcHg7XG4gIH1cbiAgLnByb2ZpbGUtY29udGFjdC1yb3cge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gIH1cbiAgLnByb2ZpbGUtY29udGFjdC1yb3cgPiBkaXYge1xuICAgIG1hcmdpbi1yaWdodDogMzJweDtcbiAgfVxuICBcbiAgLnByb2ZpbGUtcm93IHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICB9XG4gIC5wcm9maWxlLXBob3RvLWNvbHVtbiB7XG4gICAgcGFkZGluZzogMjRweCAyNHB4IDI0cHggMDtcbiAgfVxuICBcbiAgLmxvYWRlciB7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIG1hcmdpbi10b3A6IDEwMHB4O1xuICB9XG4gIFxuICAudGl0bGVPcmlnaW5hbCB7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIH1cbiAgXG4gIC5pc2VhcmNoLWNpcmNsZS1saXN0IHtcbiAgICAvKiBtYXJnaW4tdG9wOjEyOHB4OyAqL1xuICB9XG4gIC54IHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgYmFja2dyb3VuZDogdHJhbnNwYXJlbnQ7XG4gICAgdG9wOiAwcHg7XG4gICAgcmlnaHQ6IDVweDtcbiAgICBmbG9hdDogcmlnaHQgIWltcG9ydGFudDtcbiAgICBoZWlnaHQ6IDI0cHg7XG4gIH1cbiAgXG4gIC5waWN0dXJlT3JpZ2luYWwge1xuICAgIHdpZHRoOiAxMjBweDtcbiAgICBoZWlnaHQ6IDEyMHB4O1xuICAgIGJvcmRlci1yYWRpdXM6IDUwMHB4O1xuICAgIG1hcmdpbi10b3A6IDFyZW07XG4gIH1cbiAgLmxvYWRlciB7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIG1hcmdpbi10b3A6IDEwMHB4O1xuICB9XG4gIC50aXRsZU9yaWdpbmFsIHtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgfVxuICBcbiAgLyogTW9kZXJuIGRpc3BsYXlUeXBlICovXG4gIC5tb2Rlcm5Qcm9maWxlIHtcbiAgICB3aWR0aDogMjI1cHg7XG4gICAgaGVpZ2h0OiAyMjVweDtcbiAgICBtYXJnaW46IDI1cHggYXV0bztcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xuICAgIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogd2hpdGVzbW9rZTtcbiAgfVxuICBcbiAgLm1vZGVyblByb2ZpbGUgaW1nIHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiA1MCU7XG4gICAgbGVmdDogNTAlO1xuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlKC01MCUsIC01MCUpO1xuICAgIG1heC13aWR0aDogMjQwcHg7XG4gIH1cbiAgXG4gIC5jaC1pbWctMSB7XG4gICAgLyogcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogNTAlO1xuICAgIGxlZnQ6IDUwJTtcbiAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZSgtNTAlLCAtNTAlKTsgKi9cbiAgICBtYXgtd2lkdGg6IDE4MHB4O1xuICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIH1cbiAgXG4gIC5tb2Rlcm5Db2wge1xuICAgIHBhZGRpbmc6IDM0cHg7XG4gIH1cbiAgXG4gIC5jaC1pdGVtIHtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgbWFyZ2luOiAwIGF1dG87XG4gICAgYm9yZGVyLXJhZGl1czogNTAlO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBib3gtc2hhZG93OiAwIDFweCAycHggcmdiYSgwLCAwLCAwLCAwLjEpO1xuICAgIGN1cnNvcjogZGVmYXVsdDtcbiAgfVxuICBcbiAgLmNoLWluZm8td3JhcCB7XG4gICAgLyogcG9zaXRpb246IGFic29sdXRlOyAqL1xuICAgIHdpZHRoOiAxODBweDtcbiAgICBoZWlnaHQ6IDE4MHB4O1xuICAgIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgICBwZXJzcGVjdGl2ZTogODAwcHg7XG4gICAgdHJhbnNpdGlvbjogYWxsIDAuNHMgZWFzZS1pbi1vdXQ7XG4gICAgdG9wOiAyMHB4O1xuICAgIGxlZnQ6IDIwcHg7XG4gICAgYm94LXNoYWRvdzogMCAwIDAgMjBweCByZ2JhKDI0MSwgMjQxLCAyNDEsIDAuOCksXG4gICAgICBpbnNldCAwIDAgM3B4IHJnYmEoMjQxLCAyNDEsIDI0MSwgMC44KTtcbiAgfVxuICBcbiAgLmNoLWluZm8ge1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB3aWR0aDogMTgwcHg7XG4gICAgaGVpZ2h0OiAxODBweDtcbiAgICBib3JkZXItcmFkaXVzOiA1MCU7XG4gICAgdHJhbnNpdGlvbjogYWxsIDAuNHMgZWFzZS1pbi1vdXQ7XG4gICAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbiAgfVxuICBcbiAgLmNoLWluZm8gPiBkaXYge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgYm9yZGVyLXJhZGl1czogNTAlO1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlciBjZW50ZXI7XG4gICAgLXdlYmtpdC1iYWNrZmFjZS12aXNpYmlsaXR5OiBoaWRkZW47XG4gICAgICAgICAgICBiYWNrZmFjZS12aXNpYmlsaXR5OiBoaWRkZW47XG4gIH1cbiAgXG4gIC5jaC1pbmZvIC5jaC1pbmZvLWJhY2sge1xuICAgIHRyYW5zZm9ybTogcm90YXRlM2QoMCwgMSwgMCwgMTgwZGVnKTtcbiAgICBiYWNrZ3JvdW5kOiAjMDAwO1xuICB9XG4gIFxuICAuY2gtaW5mbyBoMyB7XG4gICAgY29sb3I6ICNmZmY7XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgICBsZXR0ZXItc3BhY2luZzogMnB4O1xuICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICBtYXJnaW46IDAgMzBweDtcbiAgICBwYWRkaW5nOiA0MHB4IDIwcHggMCAwO1xuICAgIGhlaWdodDogOTBweDtcbiAgICBmb250LWZhbWlseTogXCJPcGVuIFNhbnNcIiwgQXJpYWwsIHNhbnMtc2VyaWY7XG4gICAgdGV4dC1zaGFkb3c6IDAgMCAxcHggI2ZmZiwgMCAxcHggMnB4IHJnYmEoMCwgMCwgMCwgMC4zKTtcbiAgfVxuICBcbiAgLmNoLWluZm8gcCB7XG4gICAgY29sb3I6ICNmZmY7XG4gICAgcGFkZGluZzogMTBweCA1cHg7XG4gICAgZm9udC1zdHlsZTogaXRhbGljO1xuICAgIG1hcmdpbjogMCAzMHB4O1xuICAgIGZvbnQtc2l6ZTogMTJweDtcbiAgICBib3JkZXItdG9wOiAxcHggc29saWQgcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO1xuICB9XG4gIFxuICAuY2gtaW5mbyBwIGEge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIGNvbG9yOiByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNyk7XG4gICAgZm9udC1zdHlsZTogbm9ybWFsO1xuICAgIGZvbnQtd2VpZ2h0OiA3MDA7XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgICBmb250LXNpemU6IDlweDtcbiAgICBsZXR0ZXItc3BhY2luZzogMXB4O1xuICAgIHBhZGRpbmctdG9wOiA0cHg7XG4gICAgZm9udC1mYW1pbHk6IFwiT3BlbiBTYW5zXCIsIEFyaWFsLCBzYW5zLXNlcmlmO1xuICB9XG4gIFxuICAuY2gtaW5mbyBwIGE6aG92ZXIge1xuICAgIGNvbG9yOiByZ2JhKDI1NSwgMjQyLCAzNCwgMC44KTtcbiAgfVxuICBcbiAgLmNoLWl0ZW06aG92ZXIgLmNoLWluZm8td3JhcCB7XG4gICAgYm94LXNoYWRvdzogMCAwIDAgMCByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuOCksXG4gICAgICBpbnNldCAwIDAgM3B4IHJnYmEoMTE1LCAxMTQsIDIzLCAwLjgpO1xuICB9XG4gIFxuICAuY2gtaXRlbTpob3ZlciAuY2gtaW5mbyB7XG4gICAgdHJhbnNmb3JtOiByb3RhdGUzZCgwLCAxLCAwLCAtMTgwZGVnKTtcbiAgfVxuICBcbiAgW2RhdGEtdG9nZ2xlPVwibW9kYWxcIl0ge1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgfVxuICBcbiAgLy8gZW5kIGZhY3VsdHkgbGlzdCBDU1MiLCIucGljdHVyZU9yaWdpbmFsIHtcbiAgd2lkdGg6IDEyMHB4O1xuICBoZWlnaHQ6IDEyMHB4O1xuICBib3JkZXItcmFkaXVzOiA1MDBweDtcbiAgbWFyZ2luLXRvcDogMXJlbTsgfVxuXG4ubG9hZGVyIHtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBtYXJnaW4tdG9wOiAxMDBweDsgfVxuXG4udGl0bGVPcmlnaW5hbCB7XG4gIGZvbnQtd2VpZ2h0OiBib2xkOyB9XG5cbi5wcm9maWxlLXR5cGUtc3RhbmRhcmQgLnBpY3R1cmVPcmlnaW5hbCB7XG4gIHdpZHRoOiAxODBweDtcbiAgaGVpZ2h0OiAxODBweDtcbiAgYm9yZGVyLXJhZGl1czogNTAwcHg7XG4gIG1hcmdpbi10b3A6IDA7IH1cblxuLnByb2ZpbGUtbmFtZSBhIHtcbiAgY29sb3I6ICMwMDA7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTsgfVxuXG4ucHJvZmlsZS1uYW1lIHtcbiAgbWFyZ2luLXRvcDogMjRweDsgfVxuXG4ucHJvZmlsZS1yb3cge1xuICBib3JkZXItYm90dG9tOiAycHggI2UwZTBlMCBzb2xpZDtcbiAgcGFkZGluZy1ib3R0b206IDMycHg7XG4gIHBhZGRpbmctdG9wOiAzMnB4OyB9XG5cbi5wcm9maWxlLWJpby1jb2x1bW4ge1xuICBtYXgtd2lkdGg6IDcwMHB4OyB9XG5cbi5wcm9maWxlLWNvbnRhY3Qtcm93IHtcbiAgZGlzcGxheTogZmxleDsgfVxuXG4ucHJvZmlsZS1jb250YWN0LXJvdyA+IGRpdiB7XG4gIG1hcmdpbi1yaWdodDogMzJweDsgfVxuXG4ucHJvZmlsZS1yb3cge1xuICBkaXNwbGF5OiBmbGV4OyB9XG5cbi5wcm9maWxlLXBob3RvLWNvbHVtbiB7XG4gIHBhZGRpbmc6IDI0cHggMjRweCAyNHB4IDA7IH1cblxuLmxvYWRlciB7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgbWFyZ2luLXRvcDogMTAwcHg7IH1cblxuLnRpdGxlT3JpZ2luYWwge1xuICBmb250LXdlaWdodDogYm9sZDsgfVxuXG4uaXNlYXJjaC1jaXJjbGUtbGlzdCB7XG4gIC8qIG1hcmdpbi10b3A6MTI4cHg7ICovIH1cblxuLngge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGJhY2tncm91bmQ6IHRyYW5zcGFyZW50O1xuICB0b3A6IDBweDtcbiAgcmlnaHQ6IDVweDtcbiAgZmxvYXQ6IHJpZ2h0ICFpbXBvcnRhbnQ7XG4gIGhlaWdodDogMjRweDsgfVxuXG4ucGljdHVyZU9yaWdpbmFsIHtcbiAgd2lkdGg6IDEyMHB4O1xuICBoZWlnaHQ6IDEyMHB4O1xuICBib3JkZXItcmFkaXVzOiA1MDBweDtcbiAgbWFyZ2luLXRvcDogMXJlbTsgfVxuXG4ubG9hZGVyIHtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBtYXJnaW4tdG9wOiAxMDBweDsgfVxuXG4udGl0bGVPcmlnaW5hbCB7XG4gIGZvbnQtd2VpZ2h0OiBib2xkOyB9XG5cbi8qIE1vZGVybiBkaXNwbGF5VHlwZSAqL1xuLm1vZGVyblByb2ZpbGUge1xuICB3aWR0aDogMjI1cHg7XG4gIGhlaWdodDogMjI1cHg7XG4gIG1hcmdpbjogMjVweCBhdXRvO1xuICBvdmVyZmxvdzogaGlkZGVuO1xuICBib3JkZXItcmFkaXVzOiA1MCU7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgYmFja2dyb3VuZC1jb2xvcjogd2hpdGVzbW9rZTsgfVxuXG4ubW9kZXJuUHJvZmlsZSBpbWcge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHRvcDogNTAlO1xuICBsZWZ0OiA1MCU7XG4gIHRyYW5zZm9ybTogdHJhbnNsYXRlKC01MCUsIC01MCUpO1xuICBtYXgtd2lkdGg6IDI0MHB4OyB9XG5cbi5jaC1pbWctMSB7XG4gIC8qIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0b3A6IDUwJTtcbiAgICBsZWZ0OiA1MCU7XG4gICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwgLTUwJSk7ICovXG4gIG1heC13aWR0aDogMTgwcHg7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7IH1cblxuLm1vZGVybkNvbCB7XG4gIHBhZGRpbmc6IDM0cHg7IH1cblxuLmNoLWl0ZW0ge1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xuICBtYXJnaW46IDAgYXV0bztcbiAgYm9yZGVyLXJhZGl1czogNTAlO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIGJveC1zaGFkb3c6IDAgMXB4IDJweCByZ2JhKDAsIDAsIDAsIDAuMSk7XG4gIGN1cnNvcjogZGVmYXVsdDsgfVxuXG4uY2gtaW5mby13cmFwIHtcbiAgLyogcG9zaXRpb246IGFic29sdXRlOyAqL1xuICB3aWR0aDogMTgwcHg7XG4gIGhlaWdodDogMTgwcHg7XG4gIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgcGVyc3BlY3RpdmU6IDgwMHB4O1xuICB0cmFuc2l0aW9uOiBhbGwgMC40cyBlYXNlLWluLW91dDtcbiAgdG9wOiAyMHB4O1xuICBsZWZ0OiAyMHB4O1xuICBib3gtc2hhZG93OiAwIDAgMCAyMHB4IHJnYmEoMjQxLCAyNDEsIDI0MSwgMC44KSwgaW5zZXQgMCAwIDNweCByZ2JhKDI0MSwgMjQxLCAyNDEsIDAuOCk7IH1cblxuLmNoLWluZm8ge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHdpZHRoOiAxODBweDtcbiAgaGVpZ2h0OiAxODBweDtcbiAgYm9yZGVyLXJhZGl1czogNTAlO1xuICB0cmFuc2l0aW9uOiBhbGwgMC40cyBlYXNlLWluLW91dDtcbiAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDsgfVxuXG4uY2gtaW5mbyA+IGRpdiB7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDEwMCU7XG4gIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogY2VudGVyIGNlbnRlcjtcbiAgLXdlYmtpdC1iYWNrZmFjZS12aXNpYmlsaXR5OiBoaWRkZW47XG4gIGJhY2tmYWNlLXZpc2liaWxpdHk6IGhpZGRlbjsgfVxuXG4uY2gtaW5mbyAuY2gtaW5mby1iYWNrIHtcbiAgdHJhbnNmb3JtOiByb3RhdGUzZCgwLCAxLCAwLCAxODBkZWcpO1xuICBiYWNrZ3JvdW5kOiAjMDAwOyB9XG5cbi5jaC1pbmZvIGgzIHtcbiAgY29sb3I6ICNmZmY7XG4gIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gIGxldHRlci1zcGFjaW5nOiAycHg7XG4gIGZvbnQtc2l6ZTogMTRweDtcbiAgbWFyZ2luOiAwIDMwcHg7XG4gIHBhZGRpbmc6IDQwcHggMjBweCAwIDA7XG4gIGhlaWdodDogOTBweDtcbiAgZm9udC1mYW1pbHk6IFwiT3BlbiBTYW5zXCIsIEFyaWFsLCBzYW5zLXNlcmlmO1xuICB0ZXh0LXNoYWRvdzogMCAwIDFweCAjZmZmLCAwIDFweCAycHggcmdiYSgwLCAwLCAwLCAwLjMpOyB9XG5cbi5jaC1pbmZvIHAge1xuICBjb2xvcjogI2ZmZjtcbiAgcGFkZGluZzogMTBweCA1cHg7XG4gIGZvbnQtc3R5bGU6IGl0YWxpYztcbiAgbWFyZ2luOiAwIDMwcHg7XG4gIGZvbnQtc2l6ZTogMTJweDtcbiAgYm9yZGVyLXRvcDogMXB4IHNvbGlkIHJnYmEoMjU1LCAyNTUsIDI1NSwgMC41KTsgfVxuXG4uY2gtaW5mbyBwIGEge1xuICBkaXNwbGF5OiBibG9jaztcbiAgY29sb3I6IHJnYmEoMjU1LCAyNTUsIDI1NSwgMC43KTtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBmb250LXdlaWdodDogNzAwO1xuICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICBmb250LXNpemU6IDlweDtcbiAgbGV0dGVyLXNwYWNpbmc6IDFweDtcbiAgcGFkZGluZy10b3A6IDRweDtcbiAgZm9udC1mYW1pbHk6IFwiT3BlbiBTYW5zXCIsIEFyaWFsLCBzYW5zLXNlcmlmOyB9XG5cbi5jaC1pbmZvIHAgYTpob3ZlciB7XG4gIGNvbG9yOiByZ2JhKDI1NSwgMjQyLCAzNCwgMC44KTsgfVxuXG4uY2gtaXRlbTpob3ZlciAuY2gtaW5mby13cmFwIHtcbiAgYm94LXNoYWRvdzogMCAwIDAgMCByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuOCksIGluc2V0IDAgMCAzcHggcmdiYSgxMTUsIDExNCwgMjMsIDAuOCk7IH1cblxuLmNoLWl0ZW06aG92ZXIgLmNoLWluZm8ge1xuICB0cmFuc2Zvcm06IHJvdGF0ZTNkKDAsIDEsIDAsIC0xODBkZWcpOyB9XG5cbltkYXRhLXRvZ2dsZT1cIm1vZGFsXCJdIHtcbiAgY3Vyc29yOiBwb2ludGVyOyB9XG4iXX0= */
