.testclass {
  background: blue; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNoaWxkLXRoZW1lLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBR0E7RUFDSSxnQkFBZ0IsRUFBQSIsImZpbGUiOiJjaGlsZC10aGVtZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvLyBEZXNpZ24gdG9rZW5zIGZyb20gQVNVIEJvb3N0cmFwIGxpYnJhcnlcbkBpbXBvcnQgXCIuLi9ub2RlX21vZHVsZXMvQGFzdS1kZXNpZ24tc3lzdGVtL2Rlc2lnbi10b2tlbnMvYnVpbGQvc2Nzcy9fdmFyaWFibGVzXCI7IFxuXG4udGVzdGNsYXNzIHtcbiAgICBiYWNrZ3JvdW5kOiBibHVlO1xufVxuIl19 */
