.testclass {
  background: red; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNyb25raXRlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBR0E7RUFDSSxlQUFlLEVBQUEiLCJmaWxlIjoiY3JvbmtpdGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLy8gRGVzaWduIHRva2VucyBmcm9tIEFTVSBCb29zdHJhcCBsaWJyYXJ5XG5AaW1wb3J0IFwiLi4vbm9kZV9tb2R1bGVzL0Bhc3UtZGVzaWduLXN5c3RlbS9kZXNpZ24tdG9rZW5zL2J1aWxkL3Njc3MvX3ZhcmlhYmxlc1wiOyBcblxuLnRlc3RjbGFzcyB7XG4gICAgYmFja2dyb3VuZDogcmVkO1xufVxuIl19 */
