/*
Theme Name: UDS WordPress Child Template
Theme URI: [Insert your URL here]
Author: ASU Engineering
Author URI: https://github.com/asuengineering
Description: Child theme template for UDS WordPress
Version: 0.1.0

Template: UDS-WordPress-Theme

GitHub Theme URI: [Insert your URL here if you want to support GitHub Updater]

License: GNU GPL version 2
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: uds-wordpress-theme-child
*/

/*
Just like the parent theme, this file is only used to identify the theme in WordPress.
- This theme's compiled CSS runs as a dependancy to the parent theme's compiled CSS. 
- The SASS source files for this child theme come configured to consume the UDS Bootstrap 4 variables from the parent.
*/